<!DOCTYPE html>
<html>
    <head>
        <title>Q 5</title>
    </head>
    <body>

        <form action="/form" id="form" method="post">
            <input type="text" name="str">
            <input type="submit">
        </form>
    </body>
</html>